
p {
   
    font-size: 300px;
	margin-left:85px;
    margin-top:-40px;
    color: #d81159; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B5DFCA,#8f2d56,#218380,#fbb13c,#d81159);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    
}







